# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.sqlite
*.sqlite3
*.db
staticfiles/
.env
*.env
!.env.example

# Node & React
node_modules/
dist/
dist-ssr/
*.local
.vite/

# IDE & OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo
target/
